* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
// HTML ELEMENTS

html,
body {
    font-family: 'Bodoni Moda', serif;
    // font-family: 'Morva', serif;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Sacramento', cursive;
    background-color: black;
}

h2 {
    font-size: 5vw;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 500;
    font-size: calc(4vw + 3vh);
    line-height: 1.2;
    // font-style: italic;
    // text-transform: uppercase;
    // color: white;
    background-color: rgba(transparent, 0.5);
    font-stretch: condensed;

}

a {
    text-decoration: none;
    font-weight: 500;
}

.home-container,
.gallery-page-container {
    height: 100vh;
}

.gallery-page-container {
    // background-color: red;
}

//HOME PAGE

.video-container {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: -1; /* Place the video behind other content */
}

#video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav {
    position: absolute;
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0));
    background-color: rgba(transparent, 0.5);
    width: 100%;
    height: 45px;
    z-index: 1000;
}

//ABOUT PAGE
.about-title {
    position: absolute;
    left: 33%;
    top: 110vh;
}

.about-paragraph {
    margin-left: 20%;
    margin-right: 10vh;
    margin-top: 10%;
    font-size: 1.5vw;
}

.about-photo-container {
    // background-color: blue;
    // height: 800px;
    width: 40vw;
    display: flex;
}

.about-photo {
    width: 100%;

    margin: 1%;
    object-fit: cover;
    // z-index: -1;
}

@media screen and (max-width: 700px) {
    .about-photo-container {
        // background-color: blue;
        // height: 800px;
        width: 100vw;
        display: flex;
    }
    
    .about-photo {
        width: 100%;
    
        margin: 1%;
        object-fit: cover;
        // z-index: -1;
    }

    .about-title {
        // position: relative;
        left: 33%;
        top: 150vh;
    }
    
    .about-paragraph {
        margin-left: 20%;
        margin-right: 10vh;
        margin-top: 10%;
        font-size: 1.5vw;
    }
}





//GALLERY PAGE
.gallery-title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: transparent;
}

.gallery-page-container {
    width: 100vw; 
    height: 100vh;
    display: flex;
}

#gallery-container {
    overflow-x: auto; /* Enable horizontal scrolling when content overflows */
    white-space: nowrap; 
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snap */
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: start;
}

@media screen and (min-width: 200px) {
    .gallery-images {
        max-width: 100%;
        max-height: 100vh;
        flex: 0 0 100vw; /* Each image takes the full viewport width */
        // height: 100vh; /* Each image takes the full viewport height */
        object-fit: cover; /* Ensure the images cover the entire container */
        scroll-snap-align: start; 
        margin-right: 1%;
        object-fit: contain;
        // padding: 1%;
        // justify-content: space-between;
    }
}



.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.logo,
.nav-item {
    margin-top: 2px;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 400;
    font-size: 1.5vw;
}

.nav-link {
    letter-spacing: 0;
    transition: letter-spacing 350ms ease-in-out;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:active {

  letter-spacing: 1px;
}

.nav-link:after,
.nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#ffffff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 380ms ease-in-out;
  width: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #ffffff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

img {
    padding: 0;
    margin: 0;
    padding-bottom: 0.2%;
}

.footer {
    // font-family: 'Open Sans', sans-serif;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


div::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to 0 */
  }